.block-language-d3 {
	padding: 0.4em;
	border: 2px solid grey;
	border-radius: 5px;
}

.tagvis-tooltip {
	background-color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.5em;
	border-radius: 5px;
	text-align: left;
}

.tagvis-tooltip-header {
	font-weight: bold;
	color:aliceblue !important
}

.tagvis-tooltip a {
    display: inline-block;
	margin-bottom: 3px;
}

.tagvis-tooltip {
	position: absolute;
	pointer-events: auto;
}